# .gitignore for The-Great-Escape-in-C
#
# See https://www.gitignore.io/
#

### C ###
# Prerequisites
*.d

# Object files
*.o
*.a


### Python ###
*.py[cod]


### Xcode ###
*.xccheckout
build/
xcuserdata/


### Visual Studio ###
*.obj
*.pdb
*.suo
*.user
*.VC.opendb
Debug/
Release/

# Visual C++ cache files
*.sdf

# Visual Studio profiler
*.psess


# Others
scitools_understand
build.ninja
*.sync-conflict*
*.orig

libraries/*/o/*
libraries/*/odf/*
build*
.DS_Store
*.DS_Store
